<%= stylesheet_link_tag "application" %>
 
 <%= render partial: "partials/userInfo", locals: {user: @user} %>
 <div class='posts'>
 <% @posts.each do |post| %>
  <div class='post'>
  <%= render partial: "partials/postCard", locals: { user: @user, post: post} %>
  <% post.most_recent_comments.each do |comment| %>
    <div class='comment'>
      <%= "#{comment.author.name} : #{comment.text}" %> 
    </div>
  <% end %>
  </div>
 <% end %>
 </div>
